{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="reservation_home">
		<div class="imgback">
			<div class="titre_home"></div>
		</div>
		<div class="form_home">
			{{ form_start(form) }}
			{{ form_widget(form) }}			
			{{ form_end(form) }}
		</div>
	</div>

	<a class= "text-white" href="{{path('lb')}}">Liste de tous les biens !</a>


{% endblock %}

{% block footer %}{% endblock %}
