{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}
    <h1>Information de réservation</h1>

    {{ include('home/_formReservation.html.twig') }}

{% endblock %}