{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Administration du camping</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate minima, mollitia, temporibus sequi a, sunt harum tempore ullam molestias dignissimos deserunt. Commodi amet magni minus id, voluptatum laboriosam sint soluta?</p>
        {# <a href="{{path('')}}"></a> #}
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </div>

{% endblock %}