{% extends "base.html.twig" %}

{% block title %}
	Login
{% endblock %}

{% block body %}
	<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-9 mx-auto">
					<div class="card card-signin flex-row my-5">
						<div
							class="card-img-left d-none d-md-flex"><!-- Background image for card set in CSS! -->
						</div>
						<div class="card-body">
							<h5 class="card-title text-center">Inscription</h5>
							<form class="form-signin">
								<div class="form-label-group">
									<input type="text" id="inputUsername" name="Username" class="form-control" placeholder="Username" required autofocus>
									<label for="inputUsername">Nom</label>
								</div>

								<div class="form-label-group">
									<input type="email" id="inputEmail" name="Email" class="form-control" placeholder="Email" required>
									<label for="inputEmail">Email</label>
								</div>

								<div class="form-label-group">
									<input type="tel" id="inputTel" name="Telephone" class="form-control" placeholder="Téléphone" required>
									<label for="inputTel">Téléphone</label>
								</div>

                                <div class="form-label-group">
									<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
									<label for="inputPassword">Password</label>
								</div>

								<div class="form-label-group">
									<input type="text" id="inputAdresse" name="Adresse" class="form-control" placeholder="Adresse" required>
									<label for="inputAdresse">Adresse</label>
								</div>
								<div class="d-none">
									<input type="hidden" id="inputRole" name="Role" value=0 class="form-control" required>
								</div>

								<hr>

								<button class="d-block my-0 mx-auto btn btn-lg btn-primary btn-block text-uppercase" type="submit">S'inscrire</button>
								<a class="d-block text-center mt-2 small" href="#">Connexion</a>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
{%  endblock %}
